.container  {
    max-width: 1470px;
    width: inherit;
    padding: 1.5rem;
    margin: 0 auto;
    text-align: center;
}

.header {
    font-family: Georgia, serif;
    font-size: 2rem;
    margin: 2.5rem;
}

.table {
    font-family: Tahoma, sans-serif;
    border: 2px solid lightblue;
    border-radius: 4px;
    padding: 1.5rem;
    margin: auto;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

th {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

tr, td, th {
    border: 1px solid lightskyblue;
    padding: 0.8rem;
}

@media screen and (max-width: 750px) {
    .container  {
        padding: 0.5rem;
    }
    
    .header {
        font-size: 1.5rem;
        margin: 1.5rem;
    }
    
    .table {
        border: 1px solid lightblue;
        border-radius: 2px;
        padding: 0.5rem;
        font-size: 0.9rem;
        letter-spacing: 0;
    }
    
    th {
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
    }
    
    tr, td, th {
        padding: 0.3rem;
    }
}